<div class="row ">
    <div class="col-lg-6 animated fadeInDown">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Médico</h4>
                <h6 class="card-subtitle">Información</h6>
                <form class="form" [formGroup]="medicoForm" (submit)="crearMedico()">
                    <div class="form-group">


                        <div class="text-center" *ngIf="medicoSeleccionado">
                            <img (click)="abrirModal(medicoSeleccionado)" class="cursor" class="w200"
                                [src]="medicoSeleccionado.img | imagen:'medicos'" alt="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" class="form-control" id="exampleInputuname"
                                placeholder="Nombre del Médico" formControlName="nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <div class="input-group">
                            <select class="form-control" formControlName="hospital">
                                <option value="">Seleccione Hospital</option>
                                <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <button [disabled]="medicoForm.invalid" type="submit"
                        class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"> Guardar cambios</i>
                    </button>
                    <button routerLink="/dashboard/medicos"
                        class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-6 animated fadeInUp" *ngIf="hospitalSeleccionado">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{ hospitalSeleccionado.nombre}}</h6>
                <div class="form-group">
                    <label for="exampleInputuname">Imagen</label>
                    <div class="text-center">
                        <img class="img-thumbnail cursor" [src]="hospitalSeleccionado.img | imagen:'hospitales'" alt="">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>